# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.ipynb_checkpoints/

# Data
data/
*.h5ad
*.csv

# Models
models/*.pt
models/*.pkl

# OS files
.DS_Store 
# Ignore temp directories and intermediate AnnData files
perturbation_preds_*/
!submission.h5ad
*.h5ad 